<%- include('partials/header') %>
    <h1>zona privada usuario</h1>
    <p>TU usuario es: <%=name %>
    </p>
    <p>Tu rol es: <%=rol %>
    </p>
    <a href="/logout">Logout</a>

    <%- include('partials/footer') %>